DATABASE_URL=
JWT_SECRET=

PORT=


PYTHON_API_BASE=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

AI_GATEWAY_URL=
AI_GATEWAY_API_KEY=